[Desktop Entry]
Name=Install
Name[ca]=Instal·la 
Name[da]=Installér
Name[de]=Installieren
Name[en_GB]=Install
Name[es]=Instalar
Name[fr]=Installation 
Name[hr]=Instaliraj
Name[it]=Installa
Name[ja]=インストール
Name[lt]=Įdiegti
Name[ms]=Memasang
Name[nb]=Installer
Name[nl]=Installeren
Name[pl]=Instaluj
Name[pt]=Instalar
Name[pt_BR]=Instalar
Name[ru]=Установить
Name[sr]=Инсталирај
Name[sv]=Installera
Name[tr]=Kur
GenericName=Live Installer
GenericName[ca]=Instal·lador autònom 
GenericName[da]=Live-installationsprogram
GenericName[de]=Live Installer
GenericName[en_GB]=Live Installer
GenericName[es]=Instalador Live
GenericName[fr]=Programme d'installation
GenericName[hr]=Instaler uživo
GenericName[it]=Live installer
GenericName[ja]=ライブインストーラ
GenericName[lt]=Bandomos sistemos diegimo programa
GenericName[ms]=Pemasangan langsung
GenericName[nb]=Live Installer
GenericName[nl]=Installatieprogramma
GenericName[pl]=Instalator live
GenericName[pt]=Instalador em Live
GenericName[pt_BR]=Instalador Live
GenericName[ru]=Live - установщик
GenericName[sr]=Живи инсталатер
GenericName[sv]=Direktinstallerare
GenericName[tr]=Çalışan kurucu
Comment=Install the operating system
Comment[ca]=Instal·la el Sistema Operatiu 
Comment[da]=Installér operativsystemet
Comment[de]=Installiere das Betriebssystem
Comment[en_GB]=Install the operating system
Comment[es]=Instalar el sistema operativo
Comment[fr]=Installation du système d'exploitation
Comment[hr]=Instaliraj operativni sustav
Comment[it]=Installa il Sistema Operativo
Comment[ja]=オペレーティングシステムのインストール
Comment[lt]=Įdiegti operacinę sistemą
Comment[ms]=Memasang sistem operasi
Comment[nb]=Installer operativsystemet
Comment[nl]=Installeer het besturingssysteem
Comment[pl]=Instaluj system operacyjny
Comment[pt]=Instalar o sistema operativo
Comment[pt_BR]=Instalar o sistema operacional
Comment[ru]=Установка операционной системы
Comment[sr]=Инсталирај оперативни систем
Comment[sv]=Installera operativsystemet
Comment[tr]=İşletim sistemini kur
Exec=live-installer-3
Icon=live-installer-3
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;System;Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
