[Desktop Entry]
Comment=
Encoding=UTF-8
Exec=killall light-locker
GenericName=
MimeType=
Name=Disable Light Locker
Name[ca]=Desactiva el bloqueig de Light.
Name[da]=Deaktiver Let Lås
Name[de]=Light Locker deaktivieren
Name[en_GB]=Disable Light Locker
Name[fr]=Désactiver Light Locker
Name[it]=Disabilita Light Locker
Name[lt]=Išjungti Light Locker
Name[nl]=Schakel Light Locker uit
Name[pt]=Desactivar o Bloqueador de Luz
Name[sr]=Искључи Лагани закључавач
Name[tr]=Light Kilitleyici Pasif
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
